Consume_Servicio_i2es/Web References/Pedidos_Estado/ws_estados_pedidos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:ws_estados_pedidos" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn:ws_estados_pedidos" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="urn:ws_estados_pedidos">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
      <xsd:complexType name="Salida">
        <xsd:all>
          <xsd:element name="Error" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ws_estados_pedidosRequest">
    <wsdl:part name="Usuariows" type="xsd:string" />
    <wsdl:part name="Passws" type="xsd:string" />
    <wsdl:part name="Xml" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="ws_estados_pedidosResponse">
    <wsdl:part name="return" type="tns:Salida" />
  </wsdl:message>
  <wsdl:portType name="ws_estados_pedidosPortType">
    <wsdl:operation name="ws_estados_pedidos">
      <wsdl:input message="tns:ws_estados_pedidosRequest" />
      <wsdl:output message="tns:ws_estados_pedidosResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ws_estados_pedidosBinding" type="tns:ws_estados_pedidosPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="ws_estados_pedidos">
      <soap:operation soapAction="urn:ws_estados_pedidos#ws_estado_pedidos" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:ws_estados_pedidos" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:ws_estados_pedidos" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ws_estados_pedidos">
    <wsdl:port name="ws_estados_pedidosPort" binding="tns:ws_estados_pedidosBinding">
      <soap:address location="http://shoptest.aluminios.com/ws/ws_estados_pedidos.php" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>